<h1 class="text-center"><%= @car.brand %> <%= @car.model %></h1>

<ul>
  <li>Km: <%= @car.km %>km</li>
  <li>Année: <%= @car.year %></li>
  <li>Options: <%= @car.options %></li>
  <li>Couleur: <%= @car.color %></li>
  <li>Prix: <%= @car.price %>€/jour</li>
</ul>
