<div class="container my-5">
  <%=  cl_image_tag @car.photo.key, height: 900, width: 1440, crop: :fill, class:"img-fluid shadow-lg  rounded-5"%>
</div>

<div class="container">
    <h1 class="h1 text-danger text-start my-5"><%= @car.brand.capitalize %> <%= @car.model.capitalize %></h1>
      <ul class="list-group my-5 text-center" style="border-radius:10px">
        <li class="list-group-item bg-dark text-white">Km: <%= @car.km %></li>
        <li class="list-group-item bg-light">Année: <%= @car.year %></li>
        <li class="list-group-item bg-dark text-white"> Transmission: <%= @car.options %></li>
        <li class="list-group-item bg-light">Couleur: <%= @car.color %></li>
        <li class="list-group-item bg-dark text-white">Prix: <%= @car.price %>€/jour</li>
      </ul>
</div>
